input[type=email],input[type=password]{
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: 20px;
    width: 500px;
    background-color: #61c2ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00b7ef;
}
button {
    width: 100px;
    background-color: #28a4f6;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}
fieldset{
    width: fit-content;
}
label{
    font-family: sans-serif;
    font-size: 20px;
}
p{
    font-family: sans-serif;
    font-size: 15px; 
}